!!! html
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= @title
    %link{:href => "/stylesheets/flexslider.css", :rel => "stylesheets", :type => "text/css"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:src => "/javascripts/jquery.flexslider.js"}
    :javascript
      $(window).load(function() {
        $('.flexslider').flexslider();
      });

    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Arapey:400italic,400", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    = stylesheet_link_tag 'layout'
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}

  #body
    #wrapper
      #top-content
        #search-box
          %input.search-input{:type => "text", :placeholder => "Search..."}/
          %input.search-btn{:src => "images/search-btn.png", :type => "image"}/
        = yield :nav
      #middle-content
        = yield 
      #bottom-content
        = yield :bottom
      #footer
        = yield :footer