#product
  #sell-costumes
    %h2.cosplay-name 
      %a{:href => "#"} Costume: One Piece - Monkey D. Luffy Cosplay
    %br for adult 
    %p.details fabric cotton and satin tailor made that will fits you better.
  #sell-wigs
    %h2.cosplay-name 
      %a{:href => "#"} Wigs: Ken - Street fighter 
    %p.details Details: high quality synthetic wig, mid length and style straight.