#character
  %h1.character-name Character Name    
  .sample-one 
    %p.product-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
    .img-props
      %img{:alt => "image", :height => "250", :src => "images/naruto-one.jpg", :width => "300"}/
    .product 
      .product-one
        %img{:alt => "image", :height => "100", :src => "images/kunai.jpg", :width => "100"}/
      .product-two
        %img{:alt => "image", :height => "100", :src => "images/kunai.jpg", :width => "100"}/


- content_for :nav do
  #another-nav
    %ul.product-list
      %li.product-list
        %a.product-link{:href => "/"} HOME
        %a.product-link{:href => "/mangaanime"} ANIME/MANGA COSPLAY
        %a.product-link{:href => "/videogame"} VIDEO GAME COSPLAY
        %a.product-link{:href => "/film"} FILM COSPLAY

      