#character
  %h1.character-name Character Name
  .sample-four
    %p.product-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
  .img-wigs
    %img{:alt => "image", :height => "240", :src => "images/hatsune-miku.jpg", :width => "190"}/
  .wigs
    .wig-one
      %img{:alt => "image", :height => "110", :src => "images/front-wig.jpg", :width => "100"}/
    .wig-two
      %img{:alt => "image", :height => "110", :src => "images/back-wig.jpg", :width => "100"}/

- content_for :nav do
  #another-nav
    %ul.product-list
      %li.product-list
        %a.product-link{:href => "/"} HOME
        %a.product-link{:href => "/mangaanime"} ANIME/MANGA COSPLAY
        %a.product-link{:href => "/videogame"} VIDEO GAME COSPLAY
        %a.product-link{:href => "/film"} FILM COSPLAY