#character
  %h1.character Characters
#img-costumes
  .img-one
    %a{:href => "/mangaanime_characters"}
      %img{:alt => "image", :height => "240", :src => "images/sailor-moon.png", :width => "190"}/
    .character-name
      %a.character-link{:href => "/character_costumes"} Sample Name 
  .img-two
    %a{:href => "#"}
      %img{:alt => "image", :height => "240", :src => "images/sailor-mars.png", :width => "190"}/
    .character-name
      %a.character-link{:href => "#"} Sample Name
  

- content_for :nav do
  #another-nav
    %ul.product-list
      %li.product-list
        %a.product-link{:href => "/"} HOME
        %a.product-link{:href => "/mangaanime"} ANIME/MANGA COSPLAY
        %a.product-link{:href => "/videogame"} VIDEO GAME COSPLAY
        %a.product-link{:href => "/film"} FILM COSPLAY