#character
  %h1.character-name Character Name
  .sample-three
    %p.product-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
  .img-shoes
    %img{:alt => "image", :height => "240", :src => "images/chunli-shoes.jpeg", :width => "190"}/
  .shoes
    .shoes-one
      %img{:alt => "image", :height => "110", :src => "images/cosplay-shoes.jpg", :width => "100"}/
    .shoes-two
      %img{:alt => "image", :height => "110", :src => "images/cosplay-shoes.jpg", :width => "100"}/
- content_for :nav do
  #another-nav
    %ul.product-list
      %li.product-list
        %a.product-link{:href => "/"} HOME
        %a.product-link{:href => "/mangaanime"} ANIME/MANGA COSPLAY
        %a.product-link{:href => "/videogame"} VIDEO GAME COSPLAY
        %a.product-link{:href => "/film"} FILM COSPLAY