#cos-costumes
  %h1.cosplay-costumes Cosplay Costumes
  #img-costumes
    .character-costume
      %a{:href => "/character_costumes"} 
        %img{:alt => "image", :height => "240", :src => "images/sailor-moon.png", :width => "150"}/
      .character-name
        %a{:href => "/character_costumes"} Sample Name
    .character-costume
      %a{:href => "#"} 
        %img{:alt => "image", :height => "240", :src => "images/sailor-mars.png", :width => "150"}/
      .character-name
        %a{:href => "#"} Sample Name

- content_for :nav do
  #another-nav
    %ul.product-list
      %li.product-list
        %a.product-link{:href => "/"} HOME
        %a.product-link{:href => "/mangaanime"} ANIME/MANGA COSPLAY
        %a.product-link{:href => "/videogame"} VIDEO GAME COSPLAY
        %a.product-link{:href => "/film"} FILM COSPLAY
				
- content_for :bottom do
  #bottom-a
    %h2.popular Popular Cosplay
    #popular-cosplay
      .popular-amcosplay
        %p.top Anime/Manga Cosplay 
        .popular-img
          %img{:alt => "image", :height => "200", :src => "images/popular.png", :width => "200"}/
          %p.bottom Character Name
      .popular-videogame
        %p.top Video Game Cosplay
        .popular-img
          %img{:alt => "image", :height => "200", :src => "images/videogame.jpeg", :width => "200"}/
          %p.bottom Character Name
      .popular-film
        %p.top Film Cosplay
        .popular-img
          %img{:alt => "image", :height => "200", :src => "images/anna-frozen.jpg", :width => "200"}/
          %p.bottom Character Name
      .popular-sexycosplay
        %p.top Sexy Cosplay
        .popular-img
          %img{:alt => "image", :height => "200", :src => "images/jessica-rabbit.png", :width => "200"}/
          %p.bottom Character Name