#welcome
  %img{:alt => "image", :height => "490", :src => "images/peach.jpg", :width => "980"}/
  %h2.about Welcome to Mema
  %p.about Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

.flexslider
  %ul.slides
    %li.cos-img{:style => "background-image: url(/images/miaka.jpg)"}
      .tittle
        %h1.cos-title Anime/Manga Cosplay 
        %br Fushigi Yugii 
        %p.details Miyaka: is the main character of Fushigi Yuugi, and the priestess of Suzaku.
        %p.appearance Appearance: a white blouse, brown jacket and matching skirt as well as a light-blue ribbon.
    %li.cos-img{:style => "background-image: url(/images/queen-elsa.jpg)"}
      .tittle
        %h1.cos-title Film Cosplay
        %br Frozen
        %p.details Queen Elsa: is the main character of Frozen and the snow queen.
        %p.appearance Appearance: a long blue dress but white long sleeves and a white silk cape.
    %li.cos-img{:style => "background-image: url(/images/princess-peach.jpg)"}
      .tittle
        %h1.cos-title Video Game Cosplay    
        %br Super Mario
        %p.details Princess Peach: is the Mario’s love interest.
        %p.appearance Appearance: a long pink dress, white gloves and a crown.

- content_for :bottom do
  #bottom-one
    %h2.popular Popular Cosplay
    #popular-cosplay
      .popular-amcosplay
        %p.top Anime/Manga Cosplay 
        .popular-img
          %img{:alt => "image", :height => "200", :src => "images/popular.png", :width => "200"}/
          %p.bottom Character Name
      .popular-videogame
        %p.top Video Game Cosplay
        .popular-img
          %img{:alt => "image", :height => "200", :src => "images/videogame.jpeg", :width => "200"}/
          %p.bottom Character Name
      .popular-film
        %p.top Film Cosplay
        .popular-img
          %img{:alt => "image", :height => "200", :src => "images/anna-frozen.jpg", :width => "200"}/
          %p.bottom Character Name
      .popular-sexycosplay
        %p.top Sexy Cosplay
        .popular-img
          %img{:alt => "image", :height => "200", :src => "images/jessica-rabbit.png", :width => "200"}/
          %p.bottom Character Name
 
    

- content_for :nav do
  #nav
    %ul.menu-list
      %li.menu-list
        %a.link-list{:href => "/mangaanime"} ANIME/MANGA COSPLAY
      %li.menu-list
        %a.link-list{:href => "/videogame"} VIDEO GAME COSPLAY
      %li.menu-list
        %a.link-list{:href => "/film"} FILM COSPLAY 
      %li.menu-list
        %a.link-list{:href => "/products"} ALL PRODUCTS
        %ul.dropdown-list
          %li.dropdown-list
            %a.item{:href => "/costumes"} Cosplay Costumes
          %li.dropdown-list
            %a.item{:href => "/wigs"} Cosplay Wigs
          %li.dropdown-list
            %a.item{:href => "/shoes"} Cosplay Shoes
          %li.dropdown-list
            %a.item{:href => "/prop"} Cosplay Props

- content_for :footer do
  #getin
    %h2.contact Get in Touch
    #social-media
      .icon
        %a{:href => "#"}
          %img{:src => "/images/fb-icon.png"}/
      .icon
        %a{:href => "#"}
          %img{:src => "/images/twitter-icon.png"}/ 
      .icon
        %a{:href => "#"}
          %img{:src => "/images/ig-icon.png"}/    
      .icon
        %a{:href => "#"}
          %img{:src => "/images/gplus-icon.png"}/
    #info
      #address
        %p.address Lorem ipsum dolor sit amet consectetuer adipiscing elit
      #phone
        %p.phone (02)123-45-67
      #mobile
        %p.mobile +631234567890
      #email
        %p.email sample@example.com

