#ma-characters  
  %h1.character-name Character Name
  .sample-costumes      
    %h2.character-costume Cosplay Costumes
    .sample-one
      %p.product-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
      .ma-costume
        %img{:alt => "image", :height => "240", :src => "images/tsukino-usagi.jpg", :width => "190"}/
    .sample-one
      %p.product-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
      .ma-costume
        %img{:alt => "image", :height => "240", :src => "images/sailor-moon.jpg", :width => "190"}/
  .sample-props
    %h2.character-props Cosplay Props
    .sample-two
      .ma-props
        %img{:alt => "image", :height => "240", :src => "images/sailormoon-props.png", :width => "190"}/
        %p.product-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
    .sample-two
      .ma-props
        %img{:alt => "image", :height => "240", :src => "images/sailormoon-wand.jpg", :width => "190"}/
        %p.product-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
  .sample-shoes
    %h2.character-shoes Cosplay Shoes
    .sample-three
      %p.product-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
      .ma-shoes
        %img{:alt => "image", :height => "240", :src => "images/sailormoon-boots.png", :width => "190"}/
  .sample-wigs
    %h2.character-wig Cosplay Wigs
    .sample-four
      .ma-wigs
        %img{:alt => "image", :height => "240", :src => "images/sailormoon-wig.jpg", :width => "190"}/  
        %p.product-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,


- content_for :nav do
  #another-nav
    %ul.product-list
      %li.product-list
        %a.product-link{:href => "/"} HOME
        %a.product-link{:href => "/mangaanime"} ANIME/MANGA COSPLAY
        %a.product-link{:href => "/videogame"} VIDEO GAME COSPLAY
        %a.product-link{:href => "/film"} FILM COSPLAY