#products
  %h2.title-product All Products
#cosplay-costume
  %h2.title-cosplay Cosplay Costumes  
  .costume-characters
    .character-img
      %a{:href => "/costumes"}
        %img{:alt => "image", :height => "250", :src => "images/sailormoon-img.jpg", :width => "300"}/
      .character-title
        %a.character-link{:href => "/costumes"} Sample Character One
    .character-img
      %a{:href => "/costumes"}
        %img{:alt => "image", :height => "250", :src => "images/sailormoon-img.jpg", :width => "300"}/
      .character-title
        %a.character-link{:href => "/costumes"} Sample Character One
    .character-img
      %a{:href => "/costumes"}
        %img{:alt => "image", :height => "250", :src => "images/sailormoon-img.jpg", :width => "300"}/
      .character-title
        %a.character-link{:href => "/costumes"} Sample Character One
    .character-img
      %a{:href => "/costumes"}
        %img{:alt => "image", :height => "250", :src => "images/sailormoon-img.jpg", :width => "300"}/
      .character-title
        %a.character-link{:href => "/costumes"} Sample Character One
  .load-more 
    %a.load-link{:href => "#"} LOAD MORE...
#cosplay-wigs
  %h2.title-cosplay Cosplay Wigs
  .wigs-character
    %a{:href => "/wigs"}
      %img{:alt => "image", :height => "250", :src => "images/vocaloid.jpg", :width => "300"}/
    .character-title
      %a.character-link{:href => "/wigs"} Sample Character One
  .load-more
    %a.load-link{:href => "#"} LOAD MORE...    
#cosplay-shoes 
  %h2.title-cosplay Cosplay Shoes
  .character-img
    %a{:href => "/shoes"}
      %img{:alt => "image", :height => "250", :src => "images/street-fighter.jpeg", :width => "300"}/
    .character-title
      %a.character-link{:href => "/shoes"} Sample Character One
#cosplay-props
  %h2.title-cosplay Cosplay Props
  .character-img
    %a{:href => "/prop"}
      %img{:alt => "image", :height => "250", :src => "images/naruto.jpg", :width => "300"}/
    .character-title
      %a.character-link{:href => "/prop"} Sample Character One


- content_for :nav do
  #another-nav
    %ul.product-list
      %li.product-list
        %a.product-link{:href => "/"} HOME
      %li.product-list
        %a.product-link{:href => "/mangaanime"} ANIME/MANGA COSPLAY
      %li.product-list
        %a.product-link{:href => "/videogame"} VIDEO GAME COSPLAY
      %li.product-list
        %a.product-link{:href => "/film"} FILM COSPLAY

- content_for :bottom do
  #bottom-a
    %h2.popular Popular Cosplay
    #popular-cosplay
      .popular-amcosplay
        %p.top Anime/Manga Cosplay 
        .popular-img
          %img{:alt => "image", :height => "200", :src => "images/popular.png", :width => "200"}/
          %p.bottom Character Name
      .popular-videogame
        %p.top Video Game Cosplay
        .popular-img
          %img{:alt => "image", :height => "200", :src => "images/videogame.jpeg", :width => "200"}/
          %p.bottom Character Name
      .popular-film
        %p.top Film Cosplay
        .popular-img
          %img{:alt => "image", :height => "200", :src => "images/anna-frozen.jpg", :width => "200"}/
          %p.bottom Character Name
      .popular-sexycosplay
        %p.top Sexy Cosplay
        .popular-img
          %img{:alt => "image", :height => "200", :src => "images/jessica-rabbit.png", :width => "200"}/
          %p.bottom Character Name
