#props
  %h1.costumes Cosplay Props
  #character-img
    %a{:href => "/character_props"} 
      %img{:alt => "image", :height => "240", :src => "images/naruto.png", :width => "150"}/
    .character-name
      %a{:href => "/character_props"} Sample Name

- content_for :nav do
  #another-nav
    %ul.product-list
      %li.product-list
        %a.product-link{:href => "/"} HOME
        %a.product-link{:href => "/mangaanime"} ANIME/MANGA COSPLAY
        %a.product-link{:href => "/comicbook"} COMIC BOOK COSPLAY
        %a.product-link{:href => "/videogame"} VIDEO GAME COSPLAY
        %a.product-link{:href => "/film"} FILM COSPLAY