#products
  #rent-costumes  
    %h2.cosplay-name 
      %a{:href => "#"} Costume: Sailor Moon - Sailor Venus Cosplay
    %br for kids 
    %p.details Details: Stretchable cotton and satin tailor made that will fits you better.
    %p.ages Ages: 5-8 years old
  #rent-props
    %h2.cosplay-name 
      %a{:href => "#"} Props: Vash - Vash the Stampede Trigun
    %br Adult Men
    %p.details Details: Made exactly according to the original design and all hand made.
		