#shoes 
  %h1.shoes Cosplay Shoes
  #img-shoes
    .character-shoes
      %a{:href => "/character_shoes"} 
        %img{:alt => "image", :height => "240", :src => "images/chunli.png", :width => "150"}/
      .character-name
        %a{:href => "/character_shoes"} Sample Name

- content_for :nav do
  #another-nav
    %ul.product-list
      %li.product-list
        %a.product-link{:href => "/"} HOME
        %a.product-link{:href => "/mangaanime"} ANIME/MANGA COSPLAY
        %a.product-link{:href => "/comicbook"} COMIC BOOK COSPLAY
        %a.product-link{:href => "/videogame"} VIDEO GAME COSPLAY
        %a.product-link{:href => "/film"} FILM COSPLAY