#product
  #sell-costumes
    %h2.cosplay-name 
      %a{:href => "#"} Costume: One Piece - Monkey D. Luffy Cosplay
    %br for adult 
    %p.details fabric cotton and satin tailor made that will fits you better.
  #sell-props
    %h2.cosplay-name 
      %a{:href => "#"} Props: Sakura - Card Captor Sakura Wand 
    %br Kids Cosplay Props for Girls
    %p.details Details: Finished replication of CardCaptor Sakura's star sealing wand. Top and bottom pieces are casted with solid plastic. The jewel in the middle of the wand is casted with resin. The staff is solid wood. The staff is very durable.
  #sell-wigs
    %h2.cosplay-name 
      %a{:href => "#"} Wigs: Ken - Street fighter 
    %p.details Details: high quality synthetic wig, mid length and style straight.
            