#costumes
  %h1.costumes Characters
#img-costumes
  .img-one
    %a{:href => "/vgcharacter_complete"}
      %img{:alt => "image", :height => "240", :src => "images/ash.png", :width => "170"}/
    .character-name
      %a.character-link{:href => "#"} Sample Name
  .img-two
    %a{:href => "#"} 
      %img{:alt => "image", :height => "240", :src => "images/misty.png", :width => "170"}/
    .character-name
      %a.character-link{:href => "#"} Sample Name

- content_for :nav do
  #another-nav
    %ul.product-list
      %li.product-list
        %a.product-link{:href => "/"} HOME
        %a.product-link{:href => "/mangaanime"} ANIME/MANGA COSPLAY
        %a.product-link{:href => "/videogame"} VIDEO GAME COSPLAY
        %a.product-link{:href => "/film"} FILM COSPLAY