#vg-characters  
  %h1.character-name Character Name
  .sample-costumes      
    %h2.character-costume Cosplay Costumes
    .sample-one
      %p.product-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
      .vg-costume
        %img{:alt => "image", :height => "240", :src => "images/new-ash.png", :width => "190"}/
    .sample-one
      %p.product-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
      .vg-costume
        %img{:alt => "image", :height => "240", :src => "images/ash-two.png", :width => "190"}/
  .sample-props
    %h2.character-props Cosplay Props
    .sample-two
      .vg-props
        %img{:alt => "image", :height => "240", :src => "images/pokeball.png", :width => "190"}/
        %p.product-description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,


- content_for :nav do
  #another-nav
    %ul.product-list
      %li.product-list
        %a.product-link{:href => "/"} HOME
        %a.product-link{:href => "/mangaanime"} ANIME/MANGA COSPLAY
        %a.product-link{:href => "/videogame"} VIDEO GAME COSPLAY
        %a.product-link{:href => "/film"} FILM COSPLAY