#wigs 
  %h1.wig Cosplay Wigs
  #img-wigs
    .character-wigs
      %a{:href => "/character_wig"} 
        %img{:alt => "image", :height => "240", :src => "images/vocaloid.png", :width => "150"}/
      .character-name
        %a{:href => "/character_wig"} Sample Name
    .character-wigs
      %a{:href => "/character_wig"} 
        %img{:alt => "image", :height => "240", :src => "images/meiko.png", :width => "150"}/
      .character-name
        %a{:href => "/character_wig"} Sample Name

- content_for :nav do
  #another-nav
    %ul.product-list
      %li.product-list
        %a.product-link{:href => "/"} HOME
        %a.product-link{:href => "/mangaanime"} ANIME/MANGA COSPLAY
        %a.product-link{:href => "/videogame"} VIDEO GAME COSPLAY
        %a.product-link{:href => "/film"} FILM COSPLAY
    
    
  