#body {
  line-height: 1;
  font-family: "Arapey", serif;
}

#wrapper {
  margin: auto;
  height: auto;
  width: 980px;
  background: #d7d7d7;
}

#top-content #search-box {
  float: right;
  display: inline-block;
  width: 200px;
  height: 35px;
  position: relative;
  top: 60px;
  right: 140px;
}
#top-content #search-box .search-input {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  padding: 10px 5px 10px 10px;
  border: 0;
  background-color: #dfdede;
}
#top-content #search-box .search-btn {
  position: absolute;
  top: 1px;
  right: 1px;
}

#another-nav {
  padding-top: 60px;
}
#another-nav ul.product-list {
  background-color: black;
  border-radius: 5px;
  list-style: none;
  margin-bottom: 0;
  padding: 10px;
}
#another-nav ul.product-list li.product-list {
  display: inline-block;
}
#another-nav ul.product-list li.product-list .product-link {
  padding-right: 10px;
  color: white;
  text-decoration: none;
}

.product-list:last-child {
  border-right: 1px solid white;
}

#middle-content #products {
  display: inline-block;
  margin-left: 10px;
}

#cosplay-costume h2.title-cosplay {
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: white;
}
#cosplay-costume h2.title-cosplay .title-costumes {
  color: black;
  text-decoration: none;
}
#cosplay-costume .costume-characters .character-img {
  display: inline-block;
  margin-left: 18px;
  padding-top: 20px;
}
#cosplay-costume .costume-characters .character-img .character-title {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#cosplay-costume .costume-characters .character-img .character-title a.character-link {
  color: black;
  text-decoration: none;
}
#cosplay-costume .load-more {
  text-align: center;
}
#cosplay-costume .load-more .load-link {
  color: red;
}

#cosplay-wigs h2.title-cosplay {
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: white;
}
#cosplay-wigs h2.title-cosplay .title-wigs {
  color: black;
  text-decoration: none;
}
#cosplay-wigs .wigs-character {
  display: inline-block;
  margin-left: 10px;
}
#cosplay-wigs .wigs-character .character-title {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#cosplay-wigs .wigs-character .character-title .character-link {
  color: black;
  text-decoration: none;
}
#cosplay-wigs .load-more {
  text-align: center;
}
#cosplay-wigs .load-more .load-link {
  color: red;
}

#cosplay-shoes h2.title-cosplay {
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: white;
}
#cosplay-shoes h2.title-cosplay .title-shoes {
  color: black;
  text-decoration: none;
}
#cosplay-shoes .character-img {
  display: inline-block;
  margin-left: 10px;
}
#cosplay-shoes .character-img .character-title {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#cosplay-shoes .character-img .character-title .character-link {
  color: black;
  text-decoration: none;
}

#cosplay-props h2.title-cosplay {
  text-align: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: white;
}
#cosplay-props h2.title-cosplay .title-props {
  color: black;
  text-decoration: none;
}
#cosplay-props .character-img {
  display: inline-block;
  margin-left: 10px;
}
#cosplay-props .character-img .character-title {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#cosplay-props .character-img .character-title .character-link {
  color: black;
  text-decoration: none;
}

/*sass for vg_character */
#img-costumes .img-one {
  display: inline-block;
  position: relative;
  left: 50px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  background-color: white;
}
#img-costumes .img-one .character-name {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: black;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#img-costumes .img-one .character-name .character-link {
  color: white;
  text-decoration: none;
}
#img-costumes .img-two {
  display: inline-block;
  position: relative;
  left: 100px;
  border: 1px solid whitesmoke;
  background-color: white;
  border-radius: 5px;
}
#img-costumes .img-two img {
  padding: 15px;
}
#img-costumes .img-two .character-name {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}
#img-costumes .img-two .character-name .character-link {
  color: white;
  text-decoration: none;
}

#props #character-img {
  display: inline-block;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
}
#props #character-img img {
  background-color: white;
}
#props #character-img .character-name {
  background-color: black;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#shoes #img-shoes .character-shoes {
  display: inline-block;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin-left: 20px;
}
#shoes #img-shoes img {
  background-color: white;
}
#shoes #img-shoes .character-name {
  background-color: black;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#wigs #img-wigs .character-wigs {
  display: inline-block;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin-left: 20px;
}
#wigs #img-wigs img {
  background-color: white;
}
#wigs #img-wigs .character-name {
  background-color: black;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#cos-costumes #img-costumes .character-costume {
  display: inline-block;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin-left: 20px;
}
#cos-costumes #img-costumes .character-costume img {
  background-color: white;
  padding: 10px;
}
#cos-costumes #img-costumes .character-costume .character-name {
  background-color: black;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#nav {
  padding-top: 60px;
}
#nav ul.menu-list {
  margin-bottom: 0;
  padding-left: 0;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}
#nav ul.menu-list li.menu-list {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
#nav ul.menu-list li.menu-list .link-list {
  text-decoration: none;
  color: white;
}

li.menu-list:last-child {
  border-right: 1px solid white;
  position: absolute;
}

#nav li.menu-list:hover > ul.dropdown-list {
  display: block;
}

#nav li.menu-list > ul.dropdown-list {
  display: none;
  position: absolute;
  top: 24px;
  left: 5px;
  white-space: nowrap;
  background-color: pink;
  padding: 0 10px 0 10px;
}

ul.dropdown-list:before {
  pointer-events: auto;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  left: 25px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: #ffbebe transparent;
}

li.dropdown-list {
  display: block;
  border-bottom: 1px solid black;
  padding: 5px 0 5px 0;
}
li.dropdown-list .item {
  text-decoration: none;
  color: black;
}
li.dropdown-list .item:hover {
  color: white;
}

li.dropdown-list:last-child {
  border-bottom: none;
}

#middle-content .flexslider ul.slides {
  margin: 0;
  list-style: none;
  float: left;
  padding: 0;
}
#middle-content .flexslider ul.slides li.cos-img {
  background-repeat: no-repeat;
  background-position: center;
  height: 490px;
}
#middle-content .flexslider ul.slides li.cos-img .tittle {
  position: relative;
  top: 370px;
  left: 170px;
  float: left;
}
#middle-content .flexslider ul.slides li.cos-img .tittle h1.cos-title {
  margin: 0;
}
#middle-content ol.flex-control-nav {
  display: none;
}
#middle-content ul.flex-direction-nav {
  list-style: none;
  margin-bottom: 0;
  text-decoration: none;
}
#middle-content ul.flex-direction-nav .flex-prev {
  text-decoration: none;
}
#middle-content ul.flex-direction-nav .flex-next {
  text-decoration: none;
}
#middle-content ul.flex-direction-nav li:last-child {
  float: right;
  position: relative;
  top: -13px;
  right: 40px;
}

h2.about {
  margin-bottom: 20px;
  text-align: center;
}

p.about {
  text-align: center;
}

/*sass for character_props */
#character .sample-one .product-description {
  display: inline-block;
  width: 400px;
  float: left;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 40px;
  padding-top: 20px;
}
#character .sample-one .img-props {
  padding-bottom: 10px;
  margin-right: 20px;
  float: right;
}
#character .sample-one .product {
  display: inline-block;
  position: relative;
  top: 0;
  left: 100px;
}
#character .sample-one .product .product-one {
  position: absolute;
  top: 10px;
}
#character .sample-one .product .product-two {
  position: absolute;
  top: 120px;
}

/*sass for character_costumes */
#character .sample-two .product-description {
  display: inline-block;
  width: 400px;
  float: left;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 40px;
  padding-top: 20px;
}
#character .img-costume {
  display: inline-block;
  float: right;
  margin-right: 20px;
  padding-bottom: 10px;
}
#character .costume {
  display: inline-block;
  position: relative;
  top: 0;
}
#character .costume .costume-one {
  position: absolute;
  left: 210px;
  top: 0;
}
#character .costume .costume-two {
  position: absolute;
  left: 210px;
  top: 115px;
}

/*sass for character_shoes */
#character .sample-three .product-description {
  display: inline-block;
  width: 400px;
  float: left;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 40px;
  padding-top: 20px;
}
#character .img-shoes {
  display: inline-block;
  float: right;
  margin-right: 20px;
  padding-bottom: 10px;
}
#character .shoes {
  display: inline-block;
  position: relative;
  top: 0;
}
#character .shoes .shoes-one {
  position: absolute;
  left: 210px;
  top: 0;
}
#character .shoes .shoes-two {
  position: absolute;
  left: 210px;
  top: 115px;
}

#character .sample-four .product-description {
  display: inline-block;
  width: 400px;
  float: left;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 40px;
  padding-top: 20px;
}
#character .img-wigs {
  display: inline-block;
  float: right;
  margin-right: 20px;
  padding-bottom: 10px;
}
#character .wigs {
  display: inline-block;
  position: relative;
  top: 0;
}
#character .wigs .wig-one {
  position: absolute;
  left: 210px;
}
#character .wigs .wig-two {
  position: absolute;
  left: 210px;
  top: 115px;
}

/*sass for mangaanime_characters */
#ma-characters .sample-costumes h2.character-costume {
  text-align: center;
}
#ma-characters .sample-costumes .sample-one p.product-description {
  display: inline-block;
  width: 400px;
  font-size: 20px;
}
#ma-characters .sample-costumes .sample-one .ma-costume {
  display: inline-block;
  position: relative;
  left: 370px;
  padding-bottom: 10px;
}
#ma-characters .sample-props h2.character-props {
  text-align: center;
}
#ma-characters .sample-props .sample-two .ma-props {
  padding-bottom: 10px;
}
#ma-characters .sample-props .sample-two p.product-description {
  display: inline-block;
  width: 400px;
  font-size: 20px;
  position: relative;
  left: 380px;
}
#ma-characters .sample-shoes h2.character-shoes {
  text-align: center;
}
#ma-characters .sample-shoes .sample-three p.product-description {
  display: inline-block;
  width: 400px;
  font-size: 20px;
}
#ma-characters .sample-shoes .sample-three .ma-shoes {
  display: inline-block;
  position: relative;
  left: 370px;
}
#ma-characters .sample-shoes .sample-three .ma-shoes img {
  background-color: white;
}
#ma-characters .sample-wigs h2.character-wig {
  text-align: center;
}
#ma-characters .sample-wigs .sample-four p.product-description {
  display: inline-block;
  width: 400px;
  font-size: 20px;
  position: relative;
  left: 380px;
}

/*sass for mangaanime */
.anime-manga .character-img {
  display: inline-block;
  margin-left: 10px;
}
.anime-manga img {
  border: 1px solid white;
}
.anime-manga .character-title {
  text-align: center;
  background-color: black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}
.anime-manga .character-title .character-link {
  color: white;
  text-decoration: none;
}

/*sass for videogame */
.video-game .character-img {
  display: inline-block;
  margin-left: 10px;
}
.video-game img {
  border: 1px solid white;
}
.video-game .character-title {
  text-align: center;
  background-color: black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}
.video-game .character-title .character-link {
  color: white;
  text-decoration: none;
}

/*sass for film */
.film .character-img {
  display: inline-block;
  margin-left: 10px;
}
.film img {
  border: 1px solid white;
}
.film .character-title {
  text-align: center;
  background-color: black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}
.film .character-title .character-link {
  color: white;
  text-decoration: none;
}

/*sass for vgcharacter_complete */
#vg-characters .sample-costumes h2.character-costume {
  text-align: center;
}
#vg-characters .sample-costumes .sample-one p.product-description {
  width: 400px;
  display: inline-block;
  font-size: 20px;
}
#vg-characters .sample-costumes .sample-one .vg-costume {
  display: inline-block;
  position: relative;
  left: 370px;
  padding-bottom: 10px;
}
#vg-characters .sample-costumes .sample-one .vg-costume img {
  background-color: white;
}
#vg-characters .sample-props h2.character-props {
  text-align: center;
}
#vg-characters .sample-props .sample-two .vg-props img {
  background-color: white;
  padding: 50px;
}
#vg-characters .sample-props .sample-two p.product-description {
  display: inline-block;
  width: 400px;
  font-size: 20px;
  position: relative;
  left: 380px;
}

#film-characters .sample-costumes h2.character-costume {
  text-align: center;
}
#film-characters .sample-costumes .sample-one p.product-description {
  width: 400px;
  font-size: 20px;
  display: inline-block;
}
#film-characters .sample-costumes .sample-one .film-costume {
  display: inline-block;
  position: relative;
  left: 370px;
}
#film-characters .sample-costumes .sample-one .film-costume img {
  background-color: white;
}
#film-characters .sample-props h2.character-props {
  text-align: center;
}
#film-characters .sample-props .film-props p.product-description {
  display: inline-block;
  width: 400px;
  position: relative;
  left: 380px;
  font-size: 20px;
}

#bottom-content #bottom-one h2.popular {
  padding-top: 70px;
  text-align: center;
  margin-top: 10px;
}
#bottom-content #bottom-one #popular-cosplay {
  display: inline-block;
  position: relative;
  left: 80px;
}
#bottom-content #bottom-one #popular-cosplay .popular-amcosplay {
  display: inline-block;
}
#bottom-content #bottom-one #popular-cosplay .popular-amcosplay p.top {
  font-size: 20px;
  text-align: center;
}
#bottom-content #bottom-one #popular-cosplay .popular-amcosplay .popular-img p.bottom {
  text-align: center;
}
#bottom-content #bottom-one #popular-cosplay .popular-videogame {
  display: inline-block;
}
#bottom-content #bottom-one #popular-cosplay .popular-videogame p.top {
  font-size: 20px;
  text-align: center;
}
#bottom-content #bottom-one #popular-cosplay .popular-videogame p.top .popular-img p.bottom {
  text-align: center;
}
#bottom-content #bottom-one #popular-cosplay .popular-film {
  display: inline-block;
}
#bottom-content #bottom-one #popular-cosplay .popular-film p.top {
  font-size: 20px;
  text-align: center;
}
#bottom-content #bottom-one #popular-cosplay .popular-film .popular-img p.bottom {
  text-align: center;
}
#bottom-content #bottom-one #popular-cosplay .popular-sexycosplay {
  display: inline-block;
}
#bottom-content #bottom-one #popular-cosplay .popular-sexycosplay p.top {
  font-size: 20px;
  text-align: center;
}
#bottom-content #bottom-one #popular-cosplay .popular-sexycosplay .popular-img p.bottom {
  text-align: center;
}
#bottom-content #bottom-one #popular-cosplay img {
  border-radius: 50%;
  border: solid 1px black;
}

#bottom-content #bottom-a h2.popular {
  padding-top: 100px;
  background-color: white;
  text-align: center;
  margin-top: 10px;
}
#bottom-content #bottom-a #popular-cosplay {
  display: inline-block;
  position: relative;
  left: 80px;
}
#bottom-content #bottom-a #popular-cosplay .popular-amcosplay {
  display: inline-block;
}
#bottom-content #bottom-a #popular-cosplay .popular-amcosplay p.top {
  font-size: 20px;
  text-align: center;
}
#bottom-content #bottom-a #popular-cosplay .popular-amcosplay .popular-img p.bottom {
  text-align: center;
}
#bottom-content #bottom-a #popular-cosplay .popular-videogame {
  display: inline-block;
}
#bottom-content #bottom-a #popular-cosplay .popular-videogame p.top {
  font-size: 20px;
  text-align: center;
}
#bottom-content #bottom-a #popular-cosplay .popular-videogame .popular-img p.bottom {
  text-align: center;
}
#bottom-content #bottom-a #popular-cosplay .popular-film {
  display: inline-block;
}
#bottom-content #bottom-a #popular-cosplay .popular-film p.top {
  font-size: 20px;
  text-align: center;
}
#bottom-content #bottom-a #popular-cosplay .popular-film .popular-img p.bottom {
  text-align: center;
}
#bottom-content #bottom-a #popular-cosplay .popular-sexycosplay {
  display: inline-block;
}
#bottom-content #bottom-a #popular-cosplay .popular-sexycosplay p.top {
  font-size: 20px;
  text-align: center;
}
#bottom-content #bottom-a #popular-cosplay .popular-sexycosplay .popular-img p.bottom {
  text-align: center;
}
#bottom-content #bottom-a #popular-cosplay img {
  border-radius: 50%;
  border: solid 1px black;
}

#footer {
  clear: both;
}
#footer #getin {
  padding-top: 70px;
  padding-bottom: 70px;
}
#footer #getin h2.contact {
  text-align: center;
  margin-top: 10px;
}
#footer #getin #social-media {
  display: inline-block;
  position: relative;
  left: 422px;
}
#footer #getin #social-media .icon {
  display: inline-block;
}
#footer #getin #info {
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
}
