#body {
  line-height: 1;
  background-color: #e5e5e5;
  font-family: "Arapey", serif;
}

#wrapper {
  margin: 0 auto;
  width: 960px;
}

#top-nav {
  overflow: hidden;
}
#top-nav ul {
  float: left;
  text-decoration: none;
  padding-left: 30px;
  margin-top: 20px;
}
#top-nav ul li {
  list-style: none;
  display: inline;
  font-size: 15px;
}
#top-nav ul li a {
  padding-left: 10px;
  display: inline-block;
  color: black;
  text-align: center;
  font-weight: bold;
}
#top-nav ul li a:hover {
  color: white;
  text-decoration: none;
}
