#body
  line-height: 1
  font-family: 'Arapey', serif

#wrapper 
  margin: auto
  height: auto
  width: 980px
  background: #D7D7D7

#top-content
  #search-box
    float: right
    display: inline-block
    width: 200px
    height: 35px
    position: relative
    top: 60px
    right: 140px
    .search-input
      position: absolute
      top: 0
      right: 0
      width: 200px
      padding: 10px 5px 10px 10px
      border: 0
      background-color: #DFDEDE
    .search-btn
      position: absolute
      top: 1px
      right: 1px

#another-nav
  padding-top: 60px
  ul.product-list
    background-color: black
    border-radius: 5px
    list-style: none 
    margin-bottom: 0
    padding: 10px
    li.product-list
      display: inline-block
      .product-link
        padding-right: 10px
        color: white
        text-decoration: none
.product-list:last-child
  border-right: 1px solid white

#middle-content
  #products
    display: inline-block
    margin-left: 10px

#cosplay-costume
  h2.title-cosplay
    text-align: center
    border-top: 1px solid gray
    border-bottom: 1px solid gray
    background-color: white
    .title-costumes
      color: black
      text-decoration: none
  .costume-characters
    .character-img
      display: inline-block
      margin-left: 18px
      padding-top: 20px
      .character-title
        text-align: center
        padding-top: 5px
        padding-bottom: 5px
        background-color: gray
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px
        a.character-link
          color: black
          text-decoration: none
  .load-more
    text-align: center
    .load-link
      color: red

#cosplay-wigs
  h2.title-cosplay
    text-align: center
    border-top: 1px solid gray
    border-bottom: 1px solid gray
    background-color: white
    .title-wigs
      color: black
      text-decoration: none
  .wigs-character
    display: inline-block
    margin-left: 10px
    .character-title
      text-align: center
      padding-top: 5px
      padding-bottom: 5px
      background-color: gray
      border-bottom-left-radius: 10px      
      border-bottom-right-radius: 10px
      .character-link
        color: black
        text-decoration: none
  .load-more
    text-align: center
    .load-link
      color: red

#cosplay-shoes
  h2.title-cosplay
    text-align: center
    border-top: 1px solid gray
    border-bottom: 1px solid gray
    background-color: white
    .title-shoes
      color: black
      text-decoration: none
  .character-img
    display: inline-block
    margin-left: 10px
    .character-title
      text-align: center
      padding-top: 5px
      padding-bottom: 5px
      background-color: gray
      border-bottom-left-radius: 10px
      border-bottom-right-radius: 10px
      .character-link
        color: black
        text-decoration: none

#cosplay-props
  h2.title-cosplay
    text-align: center
    border-top: 1px solid gray
    border-bottom: 1px solid gray
    background-color: white
    .title-props
      color: black 
      text-decoration: none 
  .character-img
    display: inline-block
    margin-left: 10px
    .character-title
      text-align: center
      padding-top: 5px
      padding-bottom: 5px
      background-color: gray
      border-bottom-left-radius: 10px
      border-bottom-right-radius: 10px
      .character-link
        color: black
        text-decoration: none

/*sass for vg_character*/
#img-costumes
  .img-one
    display: inline-block
    position: relative 
    left: 50px 
    border: 1px solid whitesmoke
    border-radius: 5px
    background-color: white
    .character-name
      padding-bottom: 10px
      padding-top: 10px
      background-color: black
      text-align: center
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px
      .character-link
        color: white
        text-decoration: none
  .img-two
    display: inline-block
    position: relative
    left: 100px
    border: 1px solid whitesmoke
    background-color: white
    border-radius: 5px
    img
      padding: 15px
    .character-name
      background-color: black
      padding-top: 10px
      padding-bottom: 10px
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px
      text-align: center
      .character-link
        color: white
        text-decoration: none
#props
  #character-img
    display: inline-block
    margin-left: 20px
    border-radius: 5px
    border: 1px solid whitesmoke
    img
      background-color: white
    .character-name
      background-color: black
      text-align: center
      padding-bottom: 10px
      padding-top: 10px
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px

#shoes
  #img-shoes
    .character-shoes
      display: inline-block
      border: 1px solid whitesmoke
      border-radius: 5px
      margin-left: 20px
    img
      background-color: white 
    .character-name
      background-color: black 
      text-align: center
      padding-bottom: 10px
      padding-top: 10px
      border-bottom-right-radius: 5px
      border-bottom-left-radius: 5px

#wigs
  #img-wigs
    .character-wigs
      display: inline-block
      border: 1px solid whitesmoke
      border-radius: 5px
      margin-left: 20px
    img
      background-color: white
    .character-name
      background-color: black
      text-align: center
      padding-bottom: 10px
      padding-top: 10px
      border-bottom-right-radius: 5px
      border-bottom-left-radius: 5px

#cos-costumes
  #img-costumes
    .character-costume
      display: inline-block
      border: 1px solid whitesmoke
      border-radius: 5px
      margin-left: 20px
      img
        background-color: white
        padding: 10px
      .character-name
        background-color: black
        text-align: center
        padding-bottom: 10px
        padding-top: 10px
        border-bottom-right-radius: 5px
        border-bottom-left-radius: 5px
          
#nav
  padding-top: 60px
  ul.menu-list
    margin-bottom: 0
    padding-left: 0
    background-color: black
    padding: 10px
    border-radius: 5px
    li.menu-list
      display: inline-block
      padding-left: 10px
      padding-right: 10px
      .link-list
        text-decoration: none
        color: white

li.menu-list:last-child
  border-right: 1px solid white
  position: absolute

#nav li.menu-list:hover > ul.dropdown-list
  display: block

#nav li.menu-list > ul.dropdown-list
  display: none
  position: absolute
  top: 24px
  left: 5px
  white-space: nowrap
  background-color: pink
  padding: 0 10px 0 10px

ul.dropdown-list:before
  pointer-events: auto
  content: ""
  width: 0
  height: 0
  position: absolute
  bottom: 100%
  left: 25px
  border-width: 0 8px 8px 8px
  border-style: solid
  border-color: rgba(255,190,190,1) transparent

li.dropdown-list
  display: block
  border-bottom: 1px solid black
  padding: 5px 0 5px 0
  .item
    text-decoration: none
    color: black
    &:hover
      color: #ffffff

li.dropdown-list:last-child
  border-bottom: none

#middle-content
  .flexslider
    ul.slides
      margin: 0
      list-style: none
      float: left
      padding: 0
      li.cos-img
        background-repeat: no-repeat
        background-position: center
        height: 490px
        .tittle
          position: relative
          top: 370px
          left: 170px
          float: left
          h1.cos-title
            margin: 0

  ol.flex-control-nav 
    display: none
  ul.flex-direction-nav
    list-style: none
    margin-bottom: 0
    text-decoration: none
    .flex-prev
      text-decoration: none
    .flex-next
      text-decoration: none    
    li:last-child
      float: right
      position: relative
      top: -13px
      right: 40px

h2.about
  margin-bottom: 20px
  text-align: center
p.about
  text-align: center

/*sass for character_props*/
#character
  .sample-one
    .product-description
      display: inline-block
      width: 400px
      float: left
      font-size: 20px
      margin-bottom: 0
      margin-left: 40px
      padding-top: 20px
    .img-props
      padding-bottom: 10px
      margin-right: 20px 
      float: right
    .product
      display: inline-block
      position: relative
      top: 0
      left: 100px
      .product-one
        position: absolute
        top: 10px 
      .product-two
        position: absolute
        top: 120px

/*sass for character_costumes*/
#character
  .sample-two
    .product-description
      display: inline-block  
      width: 400px
      float: left
      font-size: 20px
      margin-bottom: 0
      margin-left: 40px
      padding-top: 20px
  .img-costume
    display: inline-block
    float: right
    margin-right: 20px
    padding-bottom: 10px
  .costume
    display: inline-block
    position: relative
    top: 0
    .costume-one
      position: absolute
      left: 210px
      top: 0
    .costume-two
      position: absolute
      left: 210px
      top: 115px

/*sass for character_shoes*/      
#character
  .sample-three
    .product-description
      display: inline-block  
      width: 400px
      float: left
      font-size: 20px
      margin-bottom: 0
      margin-left: 40px
      padding-top: 20px
  .img-shoes
    display: inline-block
    float: right
    margin-right: 20px
    padding-bottom: 10px
  .shoes 
    display: inline-block
    position: relative
    top: 0
    .shoes-one
      position: absolute
      left: 210px
      top: 0
    .shoes-two
      position: absolute  
      left: 210px
      top: 115px

#character
  .sample-four
    .product-description
      display: inline-block  
      width: 400px
      float: left
      font-size: 20px
      margin-bottom: 0
      margin-left: 40px
      padding-top: 20px
  .img-wigs
    display: inline-block
    float: right
    margin-right: 20px
    padding-bottom: 10px
  .wigs
    display: inline-block
    position: relative
    top: 0
    .wig-one
      position: absolute
      left: 210px
    .wig-two
      position: absolute
      left: 210px
      top: 115px

/*sass for mangaanime_characters*/
#ma-characters 
  .sample-costumes
    h2.character-costume
      text-align: center
    .sample-one
      p.product-description
        display: inline-block
        width: 400px
        font-size: 20px
      .ma-costume
        display: inline-block
        position: relative
        left: 370px
        padding-bottom: 10px
  .sample-props
    h2.character-props
      text-align: center
    .sample-two
      .ma-props
        padding-bottom: 10px
      p.product-description
        display: inline-block
        width: 400px
        font-size: 20px 
        position: relative
        left: 380px
  .sample-shoes
    h2.character-shoes
      text-align: center
    .sample-three
      p.product-description
        display: inline-block
        width: 400px
        font-size: 20px
      .ma-shoes
        display: inline-block
        position: relative
        left: 370px
        img
          background-color: white
  .sample-wigs
    h2.character-wig
      text-align: center
    .sample-four
      .ma-wigs
      p.product-description
        display: inline-block
        width: 400px
        font-size: 20px
        position: relative
        left: 380px

/*sass for mangaanime*/
.anime-manga
  .character-img
    display: inline-block
    margin-left: 10px
  img
    border: 1px solid white
  .character-title
    text-align: center
    background-color: black
    border-bottom-right-radius: 5px 
    border-bottom-left-radius: 5px
    padding: 5px
    .character-link
      color: white
      text-decoration: none

/*sass for videogame*/
.video-game
  .character-img
    display: inline-block
    margin-left: 10px
  img
    border: 1px solid white
  .character-title
    text-align: center
    background-color: black
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 5px
    padding: 5px
    .character-link
      color: white
      text-decoration: none

/*sass for film*/
.film
  .character-img
    display: inline-block
    margin-left: 10px
  img
    border: 1px solid white
  .character-title
    text-align: center 
    background-color: black
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 5px
    padding: 5px
    .character-link
      color: white  
      text-decoration: none

/*sass for vgcharacter_complete*/
#vg-characters  
  h1.character-name
  .sample-costumes
    h2.character-costume
      text-align: center
    .sample-one
      p.product-description
        width: 400px
        display: inline-block
        font-size: 20px
      .vg-costume  
        display: inline-block
        position: relative
        left: 370px
        padding-bottom: 10px
        img
          background-color: white
  .sample-props
    h2.character-props
      text-align: center
    .sample-two
      .vg-props
        img
          background-color: white
          padding: 50px
      p.product-description
        display: inline-block
        width: 400px
        font-size: 20px
        position: relative
        left: 380px

#film-characters 
  h1.character-name
  .sample-costumes
    h2.character-costume
      text-align: center
    .sample-one
      p.product-description
        width: 400px
        font-size: 20px
        display: inline-block
      .film-costume
        display: inline-block
        position: relative
        left: 370px
        img
          background-color: white
  .sample-props
    h2.character-props
      text-align: center
    .film-props
      p.product-description
        display: inline-block
        width: 400px 
        position: relative
        left: 380px
        font-size: 20px

#bottom-content
  #bottom-one
    h2.popular
      padding-top: 70px
      text-align: center
      margin-top: 10px
    #popular-cosplay
      display: inline-block
      position: relative 
      left: 80px
      .popular-amcosplay
        display: inline-block
        p.top
          font-size: 20px
          text-align: center
        .popular-img
          p.bottom
            text-align: center
      .popular-videogame
        display: inline-block
        p.top
          font-size: 20px
          text-align: center
          .popular-img  
            p.bottom
              text-align: center
      .popular-film
        display: inline-block
        p.top
          font-size: 20px
          text-align: center
        .popular-img
          p.bottom
            text-align: center
      .popular-sexycosplay
        display: inline-block
        p.top
          font-size: 20px
          text-align: center
        .popular-img
          p.bottom
            text-align: center
      img
        border-radius: 50%
        border: solid 1px black

#bottom-content
  #bottom-a
    h2.popular
      padding-top: 100px
      background-color: white
      text-align: center
      margin-top: 10px
    #popular-cosplay
      display: inline-block
      position: relative
      left: 80px
      .popular-amcosplay
        display: inline-block
        p.top
          font-size: 20px
          text-align: center
        .popular-img
          p.bottom
            text-align: center
      .popular-videogame
        display: inline-block
        p.top
          font-size: 20px
          text-align: center
        .popular-img  
          p.bottom
            text-align: center
      .popular-film
        display: inline-block
        p.top
          font-size: 20px
          text-align: center
        .popular-img
          p.bottom
            text-align: center
      .popular-sexycosplay
        display: inline-block
        p.top
          font-size: 20px
          text-align: center
        .popular-img
          p.bottom
            text-align: center
      img
        border-radius: 50%
        border: solid 1px black



#footer
  clear: both
  #getin
    padding-top: 70px
    padding-bottom: 70px
    h2.contact
      text-align: center
      margin-top: 10px
    #social-media
      display: inline-block
      position: relative
      left: 422px
      .icon
        display: inline-block
    #info
      font-size: 16px
      text-align: center
      padding-top: 10px

